@import 'variables';

.nav-line {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 15px;

  a {
    color: white;
    text-shadow: 1px 1px 4px black;

    &.is-active {
      color: $primary-color;
      text-shadow: 2px 0 2px #fff, -2px 0 2px #fff, 0 2px 2px #fff, 0 -2px 2px #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }
  }
}