.slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
  height: 300px;
  margin-top: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;

  .content {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 10000px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    left: 0px;
    top: 0;
    position: absolute;
    z-index: 1000;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}